<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Perguntas e Respostas</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <h3>Perguntas e Respostas</h3>
      </a>
    </div>
  </nav>
  <div class="container">
    <section class="mt-3 card">
      <div class="card-header">
        <h3>Realizar pergunta:</h3>
      </div>
      <div class="card-body">
        <form>
          <label>Título</label>
          <input type="text" placeholder="Título" class="mt-1 form-control">
          <label class="mt-3">Perguntar</label>
          <textarea placeholder="Faça sua pergunta" class="mt-1 form-control"></textarea>
          <button class="mt-3 btn btn-success">Perguntar</button>
        </form>
      </div>
    </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
