<%- include('partials/header'); -%>
  <div class="container">
    <section class="mt-3 card">
      <div class="card-header">
        <h3>Realizar pergunta:</h3>
      </div>
      <div class="card-body">
        <form>
          <label>Título</label>
          <input type="text" placeholder="Título" class="mt-1 form-control">
          <label class="mt-3">Perguntar</label>
          <textarea placeholder="Faça sua pergunta" class="mt-1 form-control"></textarea>
          <button class="mt-3 btn btn-success">Perguntar</button>
        </form>
      </div>
    </section>
  </div>
<%- include('partials/footer'); -%>
